{
  log {
    level DEBUG
  }
}

:8085 {
	handle /dozzle/* {
		uri strip_prefix /dozzle
		reverse_proxy dozzle:8080
	}

	handle /bridge/* {
		uri strip_prefix /bridge
		reverse_proxy homebridge:8581
	}

  reverse_proxy /* server:8080
}
