{
  log {
    level DEBUG
  }
}

:8085 {
	handle_path /dozzle/* {
		reverse_proxy dozzle:8083
	}

	handle_path /dozzle {
		reverse_proxy dozzle:8083
	}

	handle_path /bridge/* {
		reverse_proxy homebridge:8581
	}

	handle_path /bridge {
		reverse_proxy homebridge:8581
	}

	handle {
		reverse_proxy server:8080
	}
}
